@font-face {
  font-family: "Kanit";
  src: url("./assets/fonts/Kanit.ttf") format("truetype");
}

@font-face {
  font-family: "American Captain";
  src: url("./assets/fonts/AmericanCaptain.ttf") format("truetype");
}

@font-face {
  font-family: "Javanica";
  src: url("./assets/fonts/Javanica.ttf") format("truetype");
}
