@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .end-cursor::after {
    content: "_";
  }

  .end-cursor.blinking-fx::after {
    animation: blink 1s step-start infinite;
  }

  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
}

html,
body {
  /* Margins & Paddings */
  @apply m-0 p-0;
}

html {
  /* Formats */
  @apply bg-rainbow-indigo text-beau-blue font-pixel;
}

#root {
  /* Display */
  @apply flex flex-col;
  /* Sizes */
  @apply w-screen h-screen;
  @apply min-w-fit min-h-fit;
}
